<div class="container">
  <footer >
    
    <h5 class="text-center"><sapn class=" text-muted">&copy; Learn Nodejs & Express</sapn> - <span class="text-center">Deployed in Heroku</span></h5>
  </footer>
</div>
<script src="js/bootstrap.bundle.min.js"></script>
</body>
</html>